@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header div {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    border-radius: 40px;
    margin-right: 30px;
    float: right;
}

header div.available {
    background-color: #ff545f;
}