@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Places
 */

.container .places {
	width: 100%;
	padding: 10px;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	z-index: 1;
}

.container .places article {
	width: 390px;
	padding: 20px 20px;
	margin: 20px 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative;
	display: flex;
	flex-direction: column;
}

/**
 * ------ HEADERS
 */

.container .places h1 {
	width: 100%;
	font-size: 30px;
	margin: 30px 0 0 10px;
}

.container .places h2 {
	font-size: 30px;
	margin: 10px 0 30px 0;
	text-align: center;
}

.container .places .price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	line-height: 60px;
}

.container .places .information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.container .places .information .max_guest,
.container .places .information .number_rooms,
.container .places .information .number_bathrooms {
	width: 100px;
	padding: 55px 0 0 0;
	background-repeat: no-repeat;
	background-position: center 5px;
	text-align: center;
}

.container .places .information .max_guest {
	background-image: url("../images/icon_group.png");
}

.container .places .information .number_rooms {
	background-image: url("../images/icon_bed.png");
}

.container .places .information .number_bathrooms {
	background-image: url("../images/icon_bath.png");
}

.container .places .user {
	margin: 20px 0 5px 0;
}
